html, body {
  margin: 0px;
  padding: 0px;
}

.App {
  font-family: 'Roboto', sans-serif;
}

.ToDo {
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2em auto;
}

.ToDoContainer {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.ToDoHeader {
  margin-top: 5px;
  align-self: center;
  text-align: center;
  grid-column: 1 / -1;
}

.EntryBar {
  display: grid;
  grid-template-columns: auto auto;
}

.ToDoRow, .EntryBar {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  min-height: initial;
  flex: 0 0 auto;
}

.ToDoRow {
  display: grid;
  grid-template-columns: 2em auto;
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: flex-start;
}

.ToDoItem {
  grid-column: 2 / span 1 ;
  overflow: hidden;
  overflow-wrap: break-word;
}

.DeleteButton {
  grid-column: 1 / span 1;
}

.Input {
  grid-column: 1 / span 1;
  justify-self: start;
}

.AddButton {
  grid-column: 2 / span 1;
  justify-self: start;
}