* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #000;
}

.App {
  font-family: 'Roboto', sans-serif;
}

.ToDo {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2em 4em auto;
}

.ToDoContainer {
  grid-row: 3/ span 1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.ToDoHeader {
  background-color: #000;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  grid-column: 1 / -1;
}

.EntryBar {
  grid-row: 2 / span 1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: auto 2em;
}

.ToDoRow, .EntryBar {
  min-height: initial;
  flex: 0 0 auto;
}

.ToDoRow {
  display: grid;
  grid-template-columns: 2em auto;
  border-bottom: 1px solid black;
  padding: 1em 0 1em 0;
}

.ToDoItem {
  grid-column: 2 / span 1 ;
  overflow: hidden;
  overflow-wrap: break-word;
}

.DeleteButton {
  grid-column: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Input {
  grid-column: 1 / span 1;
  font: inherit;
}

.AddButton {
  grid-column: 2 / span 1;
}

.AddButton > button {
  width: 100%;
  height: 100%;
}

.DeleteButton > button {
  width: 2em;
}
