html, body {
  margin: 0px;
  padding: 0px;
}

.App {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.ToDo {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.ToDoContainer {
  margin-left: 10px;
  margin-right: 10px;
  grid-column: 1/10;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.ToDoHeader {
  margin-top: 5px;
  align-self: center;
  text-align: center;
}

.ToDoRow, .EntryBar, .EntryBar > form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.ToDoRow, .EntryBar {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  min-height: initial;
  flex: 0 0 auto;
}

.ToDoRow {
  margin-top: 5px;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.ToDoItem {
  max-width: initial;
}

.EntryBar {
  margin-top: auto;
}

.Input {
  width: fit-content;
}

.AddButton, .DelButton {
}